@import "variables";

body {
  margin: 0;
  background-color: $backgroundColor;
  padding: 100px;
}

* {
  font-family: "Montserrat";
}

.wrapper {
  background-color: white;
  border-radius: 15px 15px 0 0;
  padding: 20px;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.container {
  position: relative;
}

.emptyBox {
  display: flex;
  font-size: 18px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.basketClose {
  width: 30px;
  height: 30px;
  color: grey;
  border: none;
  border-radius: 15px;

  &:hover {
    background-color: lightgrey;
    cursor: pointer;
  }
}

.buy {
  position: static;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 15px;
  background-color: $accentColor;
}
